/* /////////////////////////////////////////////////////////////////////////////
Variables
//////////////////////////////////////////////////////////////////////////////*/
:root {
  --t-default: #37352f;
  --t-gray: #9b9a97;
  --t-brown: #64473a;
  --t-orange: #d9730d;
  --t-yellow: #dfab01;
  --t-green: #0f7b6c;
  --t-blue: #0b6e99;
  --t-purple: #6940a5;
  --t-pink: #ad1a72;
  --t-red: #e03e3e;

  --bg-default: #ffffff;
  --bg-gray: #ebeced;
  --bg-brown: #e9e5e3;
  --bg-orange: #faebdd;
  --bg-yellow: #fbf3db;
  --bg-green: #ddedea;
  --bg-blue: #ddebf1;
  --bg-purple: #eae4f2;
  --bg-pink: #f4dfeb;
  --bg-red: #fbe4e4;

  --st-default: rgba(206, 205, 202, 0.5);
  --st-gray: rgba(155, 154, 151, 0.4);
  --st-brown: rgba(140, 46, 0, 0.2);
  --st-orange: rgba(245, 93, 0, 0.2);
  --st-yellow: rgba(233, 168, 0, 0.2);
  --st-green: rgba(0, 135, 107, 0.2);
  --st-blue: rgba(0, 120, 223, 0.2);
  --st-purple: rgba(103, 36, 222, 0.2);
  --st-pink: rgba(221, 0, 129, 0.2);
  --st-red: rgba(255, 0, 26, 0.2);

  color: var(--t-default);
  background-color: var(--bg-default);
}

@media (prefers-color-scheme: dark) {
  :root {
    --t-default: #ffffffe6;
    --t-gray: #979a9bf2;
    --t-brown: #937264;
    --t-orange: #ffa344;
    --t-yellow: #ffdc49;
    --t-green: #4dab9a;
    --t-blue: #529cca;
    --t-purple: #9a6dd7;
    --t-pink: #e255a1;
    --t-red: #ff7369;

    --bg-default: #2f3437;
    --bg-gray: #454b4e;
    --bg-brown: #434040;
    --bg-orange: #594a3a;
    --bg-yellow: #59563b;
    --bg-green: #354c4b;
    --bg-blue: #364954;
    --bg-purple: #443f57;
    --bg-pink: #533b4c;
    --bg-red: #594141;

    --st-default: rgba(80, 85, 88);
    --st-gray: rgba(151, 154, 155, 0.5);
    --st-brown: rgba(147, 114, 100, 0.5);
    --st-orange: rgba(255, 163, 68, 0.5);
    --st-yellow: rgba(255, 220, 73, 0.5);
    --st-green: rgba(77, 171, 154, 0.5);
    --st-blue: rgba(82, 156, 202, 0.5);
    --st-purple: rgba(154, 109, 215, 0.5);
    --st-pink: rgba(226, 85, 161, 0.5);
    --st-red: rgba(255, 115, 105, 0.5);
  }
}

/* /////////////////////////////////////////////////////////////////////////////
Reset
//////////////////////////////////////////////////////////////////////////////*/
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

*:not(input):focus-visible {
  outline: solid 3px rgba(0, 0, 0, 0.2) !important;
  z-index: 100;
}

input {
  background-color: var(--bg-gray);
  color: var(--t-default);
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
figure,
figcaption,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

ul {
  list-style: none;
}

blockquote {
  quotes: none;
}
blockquote::before,
blockquote::after {
  content: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  resize: none;
}

textarea:focus {
  outline: none !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* /////////////////////////////////////////////////////////////////////////////
Defaults
//////////////////////////////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
}
